<!DOCTYPE html>
<html>
<head>  
  <script src="http://localhost:35729/livereload.js"></script>
  <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/index.css" rel="stylesheet" />
  <title>Extension Services</title>
</head>

<body>

    <div id="root" />

    <script src="/js/client.js"></script>

</body>
</html>
