html,
body,
#root,
.viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    padding: 20px;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.space-between {           
    justify-content: space-between;
}